<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Vars</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <i>Alpha: {{alpha}}</i><br/>
      <i>Geoloc: {{position?.coords.latitude}} | {{position?.coords.longitude}}</i><br/>
      <i>Map: {{map}}</i>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>Velkommen</ion-card-header>
    <ion-card-content>
      Vi skal lige have et par tilladelser før vi kan gå igang.
      <ion-button size="small" (click)="requestMotionPermission()">Kompas</ion-button>
      <ion-button size="small" (click)="getGeolocation()">GPS</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-button size="small" (click)="watchGeolocation()">Watch Geolocation</ion-button>
    <b>{{isCompassPermissionGranted()}}</b>
    <h3 *ngIf="isCompassPermissionGranted()">Orientation granted.</h3>
    <ion-button size="small" (click)="subscribeToOrientation()">
      Add Orientation Listener
    </ion-button>

<!--    <ion-button size="small" (click)="sM()">Update Map Size</ion-button>-->

    <ion-button size="small" (click)="locationandorientationservice.suspendOrientation()">
      suspend
    </ion-button>

    <ion-button size="small" (click)="locationandorientationservice.resumeOrientation()">
      resume
    </ion-button>
  </ion-card>

  <ion-card>
    <ion-button size="small" (click)="goToSEcondPage()">Go to Second Page</ion-button>
  </ion-card>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <div #mapRef id="mmap" class="map">&nbsp;</div>
  </ion-card>
</ion-content>
