<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <div #mapRef id="mmap" class="map">&nbsp;</div>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Vars</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <i>Alpha: {{alpha}}</i><br/>
      <i>Geoloc: {{position?.coords.latitude}} | {{position?.coords.longitude}}</i><br/>
      <i>Map: {{map}}</i>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-button size="small" (click)="getOrientation()">Get Orientation</ion-button>
    <ion-button size="small" (click)="getGeolocation()">Get Geolocation</ion-button>
    <ion-button size="small" (click)="watchGeolocation()">Watch Geolocation</ion-button>
    <ion-button size="small" (click)="sM()">sM</ion-button>
  </ion-card>
</ion-content>
